/*
///////////////////////////////////////////////////////////////////////////////
// Copyright (c) 2000-2023 Ericsson Telecom AB                               //
//                                                                           //
// All rights reserved. This program and the accompanying materials          //
// are made available under the terms of the Eclipse Public License v2.0     //
// which accompanies this distribution, and is available at                  //
// https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.html                                 //
///////////////////////////////////////////////////////////////////////////////
*/
.CRequirementTestcase .Prototype { background-color: #F4F4F4; border-color: #D0D0D0 }
.CRequirementFunction .Prototype { background-color: #F4F4F4; border-color: #D0D0D0 }
.CRequirementProcedure .Prototype { background-color: #F4F4F4; border-color: #D0D0D0 }
.CRequirementType .Prototype { background-color: #F4F4F4; border-color: #D0D0D0 }
.MGroupContent { font-variant: normal; font-weight: normal; display: none; }
