#Setup_IMSBasic {
    height: calc(100% - 40px);
}

#CommonControls {
    height: 40px;
}

.Aligner_Horizontal_Content {
    padding: 2px;
}

.TableGray tr {
    height: 30px;
}

.TableGray_HeaderBar {
    height: 27px;
}